<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium PostIt</title>
</head>
<body>
    <form action="/users/join-club" method="post">
        <label for="passcode">Passcode: </label>
        <input type="password" name="passcode" id="passcode" required>
        <input type="checkbox" required>
        <p>I agree that I have read PostIt's Terms and Conditions of confidentiality</p>
        <button type="submit">Join</button>
    </form>
</body>

</html>