<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/posts/new" method="post">
        <label for="post">Post: </label>
        <textarea name="post" id="post" required></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>