<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PostIt</title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
    <h1>Welcome to PostIt! 🎉</h1>
    <p>
      A private space where members can share anonymously and engage freely.
      Non-members can explore posts, but only members see the full picture. Join
      today and unlock the true clubhouse experience! 🚀
    </p>
    <button onclick="location.href='/users/register'">Create Account</button>
    <p>Already have an account? <button onclick="location.href='/users/login'">Login</button></p>
  </body>
</html>
